<div class="container">
    <div class="row">
        <div class="col-md-10">
            <button class="btn btn-primary" (click)="addServer()">Add new Server</button>
            <input type="text" class="form-control" [(ngModel)]="filterStatus">
            <ul class="list-group">
                <li class="list-group-item"
                *ngFor="let s of listeServers | filter:filterStatus"
                [ngClass]="getClass(s)"
                >
            <strong>{{ s.name | short:6 }}</strong> | {{ s.type }} | {{ s.d | date:'fullDate' | uppercase }}
            <span class="badge badge-secondary"> {{s.status}} </span>
            </li>
            </ul>
        </div>
    </div>
</div>