<div [ngStyle]="{
    'backgroundColor' : bgColor,
    'color': color,
    'fontSize' : size,
    'font-family' : font
}">

Formation Angular GTEC

</div>
Background Color <br>
<input type="text" class="form-control" [(ngModel)]="bgColor">

Color <br>
<input type="text" class="form-control" [(ngModel)]="color">

Font Size <br>
<input #sz type="number" class="form-control" (change)="modifSize(sz.value)">

Font Family <br>

<select class="form-control" [(ngModel)]="font">
    <option *ngFor="let f of listeFonts" [value]="f">{{f}}</option>
</select>